#send-button {
    background-color: $text-color;
    color: $main-color;
    border: none;
    font-weight: 700;
    border-radius: 20px;
}

.form-control{
    color: #09233b;
    font-weight: 700;
}
