#send-button {
    background-color: $text-color;
    color: $main-color;
    border: none;
    font-weight: $bold;
    border-radius: 20px;
    &:hover{
        font-size: 1.2em;
    }
}


.form-control{
    color: #09233b;
    font-weight: $bold;
    border-radius: 20px;
}

#message{
    resize: none;
}