.link{
    text-decoration: none;
    color: $text-color;
    font-size: 20px;
    margin: 0 10px;
}

.main-link{
    font-size: 38px;
}

.navbar{
    margin-bottom: 55px;
    background-color: $main-color;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
