.carousel-inner{
    border-radius: 10px;
    border: 1px solid $text-color;
}

.item{
    height: 400px;
}

.carousel-caption{
    color: $text-color;
}

@media (max-width: 990px) {
    .item{
        height: 250px;
    }
}