.carousel-inner{
    border-radius: 10px;
    border: 1px solid $text-color;
}

.item{
    height: 400px;

}

.carousel-caption{
    color: $main-color;
    background-color: $text-color;
    font-weight: 500;
    border-radius: 10px;
    min-width: fit-content;
    
}

@media (max-width: 990px) {
    .item{
        height: 250px;
    }
}