#skills {
  .container {
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

a {
  color: #66c7f4;
}

i {
  margin: 15px;
}
#html-icon:hover {
  color: #e44d26;
}

#css-icon:hover {
  color: #264de4;
}

#js-icon:hover {
  color: #ead41c;
}

#bootstrap-icon:hover {
  color: #830afa;
}

#sass-icon:hover {
  color: #cc6699;
}

#java-icon:hover {
  color: #ea2b2e;
}

#react-icon:hover {
  color: #0d6d8c;
}
#github-icon:hover {
  color: #fff;
}
